nav {
	background-color: #7031D6;
}

h1 {
	text-align: center;
	font-weight: bold;
}

button, label {
	font-size: 18pt;
    font-weight: bold;
}

img{
	display: block;
	margin: auto;
}

dt {
    font-weight: bold;
    clear: left;
    float: left;
}

.centered{
	font-weight: bold;
	text-align: center;
}

.whitecolor{
	color: white;
}

/* Chenge sidebar selected friend color */
.active{
	color: black !important;
    background-color: #EBEBEB !important;
}

/* Chenge sidebar not-selected friend color */
.noactive{
	color: white !important;
	background-color: #9c84ff !important;
}

/* Friends list two-people-chat.html */
.sidebar {
	height: 100%;
	max-width: 300px;
	position: fixed;
	z-index: 1;
	left: 0;
	background-color: #8975dd;
}

/* Main part of chat */
.chatplace {
	padding: 0px 10px;
}

dt:after {
    ontent: ': ';
}

#divWithShade {
	padding: 2em;
	-webkit-box-shadow: 3px 3px 3px 3px rgba(153,153,153,1);
	-moz-box-shadow: 3px 3px 3px 3px rgba(153,153,153,1);
}

#profile {
    width: 400px;
}

#chatRef {
	margin-bottom: 1em;
}

#profile {
	text-align: center;
	font-size: 12pt;
	font-family: "Courier New", Courier, monospace;
}

#friends {
	width: 170px
}

#divConversation {
	padding: 2em;
	-webkit-box-shadow: 3px 3px 3px 3px rgba(153,153,153,1);
	-moz-box-shadow: 3px 3px 3px 3px rgba(153,153,153,1);
	text-align: center;
}