body {
	background-image: url("../images/background.png");
	background-size: cover;
    margin: 0 auto;
	font: 400 15px Arial, sans-serif;
}

div {
	text-align: center;
	margin: 0.5em;
	font: 14pt "Helvetiva Neue", Helvetica, Arial, sans-serif;
}

img{
	display:block;
	margin:auto;
}

h1 {
    font: 30pt/1.3 "Helvetiva Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	padding-top: 0.5em;
}

button, label {
    font-weight: bold;
}

dt {
    font-weight: bold;
    clear: left;
    float: left;
}

dt:after {
    ontent: ': ';
}

a:link { 
	font-size:20pt;
	text-decoration:none; 
}

#logout {
	font-size:18pt;
}

#id {
	float: left;
}

#divBack {
	padding-top:0.2em;
	padding-bottom:0.5em;
	-webkit-box-shadow: 3px 3px 3px 3px rgba(153,153,153,1);
	-moz-box-shadow: 3px 3px 3px 3px rgba(153,153,153,1);
	margin-bottom:2em;
	margin-left:8em;
	margin-right:8em;
}

#profile {
    width: 400px;
}

#button {
	background-color: #7031D6; 
	color: white;
	font-size: 20px;
	border-radius: 8px;
}

#chatRef {
	font-size:18pt;
	color:#7031D6; 
}