body {
    margin: 0 auto;
}

h1 {
    font: 30pt/1.3 "Helvetiva Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	padding-top: 0.5em;
}

button, label {
	font-size: 18pt;
    font-weight: bold;
}

img{
	display: block;
	margin: auto;
}

div {
	text-align: center;
	margin: 0.5em;
	font: 14pt "Helvetiva Neue", Helvetica, Arial, sans-serif;
}

dt {
    font-weight: bold;
    clear: left;
    float: left;
}

dt:after {
    ontent: ': ';
}

#divBack {
	-webkit-box-shadow: 3px 3px 3px 3px rgba(153,153,153,1);
	-moz-box-shadow: 3px 3px 3px 3px rgba(153,153,153,1);
}

#profile {
    width: 400px;
}

#nav {
	background-color: #7031D6;
}