nav {
	background-color: #7031D6;
}

h1 {
	text-align: center;
	font-weight: bold;
}

button, label {
	font-size: 18pt;
    font-weight: bold;
}

img{
	display: block;
	margin: auto;
}

dt {
    font-weight: bold;
    clear: left;
    float: left;
}

/* This CSS rules tells electron when click and holding mouse over navbar, it should move the screen*/
.navbar{
	-webkit-user-select: none !important;
	-webkit-app-region: drag !important;
}

/* This tells electron that avobe rules do not apply on buttons (or all elements having this class) */
.nodrag{
	-webkit-app-region: no-drag !important;
}

/* Solves bootstrap bug and aligns dropdowns to the left */
.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}

.centered{
	font-weight: bold;
	text-align: center;
}

.forcefullwidth{
	width: 100% !important;
}

.whitecolor{
	color: white;
}

/* Change sidebar selected friend color */
.active{
	color: black !important;
    background-color: #EBEBEB !important;
}

/* Change sidebar not-selected friend color */
.noactive{
	color: white !important;
	background-color: #9c84ff !important;
}

.nav-link:hover { 
  background-color: pink;
}

/* Friends list two-people-chat.html */
.sidebar {
	height: 100%;
	max-width: 300px;
	position: fixed;
	z-index: 1;
	left: 0;
	background-color: #8975dd;
}

/* Main part of chat */
.chatplace {
	padding: 0px 10px;
}

/* Chat containers */
.containerChat {
	width: inherit;
	overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
	height: auto;
  border-color: #ccc;
  background-color: #CABDFF;
  border-radius: 5px;
  padding: 10px;
  margin: 0.5em;
	text-align: left;
	overflow: visible;
	border-left:1em solid transparent;
	border-right:1em solid transparent;
	
}

/* Darker chat container */
.containerChatDarker { 
	width: inherit;
	overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
	height: auto;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 0.5em;
	text-align: right;
	border-left:1em solid transparent;
	border-right:1em solid transparent;
}


dt:after {
    ontent: ': ';
}

#noMargin {
	margin: 0em;
}

#divWithShade {
	padding: 2em;
	-webkit-box-shadow: 3px 3px 3px 3px rgba(153,153,153,1);
	-moz-box-shadow: 3px 3px 3px 3px rgba(153,153,153,1);
}

#divWithShadeManual {
	padding: 2em;
	-webkit-box-shadow: 3px 3px 3px 3px rgba(153,153,153,1);
	-moz-box-shadow: 3px 3px 3px 3px rgba(153,153,153,1);
	text-align: left;
}

#chatRef {
	margin-bottom: 1em;
}

#friends {
	width: 170px
}

#divConversation {
	padding: 2em;
	-webkit-box-shadow: 3px 3px 3px 3px rgba(153,153,153,1);
	-moz-box-shadow: 3px 3px 3px 3px rgba(153,153,153,1);
	text-align: center;
}

#username {
	font-size: 10px;
	margin: 0em;
	padding: 0em;
}


#noMarginMessge {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0em;
	padding-bottom: 0em;
}
